@font-face {
    font-family: logo_font;
    src: url("/fonts/ALGER.TTF");
}

span.logo {
    font-family: logo_font;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-device-width: 768px) {
    span.logo {
        font-family: logo_font;
        font-weight: inherit;
        font-size: 60px;
    }
}

.w3-main-container {
    width:960px;
    margin:0px auto;
}

@media only screen and (max-device-width: 768px) {
    .w3-main-container {
        margin: inherit;
        width: 100%;
    }
}

/*a:hover div.thumbnail, a:visited div.thumbnail, a:link div.thumbnail, a:active div.thumbnail{
    text-decoration: none;
}
*/
.w3-ul a:hover, .w3-ul a:visited, .w3-ul a:link, .w3-ul a:active
{
    text-decoration: none;
}

.w3-row-padding a:hover, .w3-row-padding a:visited, .w3-row-padding a:link, .w3-row-padding a:active
{
    text-decoration: none;
}

.caption {
    height: 100px;
    overflow: hidden;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .rate {
    padding-right: 10px;
    padding-left: 10px;
    height: 60px;
    overflow: hidden;
}

@media only screen and (max-device-width: 1200px) {
    .thumbnail .rate {
        padding-right: 10px;
        padding-left: 10px;
        height: 40px;
        overflow: hidden;
    }
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorline {
    height: 4px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.w3-navbar img {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.w3-navbar img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
